    .Subscribe-Button{
    background-color: rgb(200, 0, 0);
    color: white;
    border: none;
    padding-left: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 16px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    transition: opacity 0.15s;
    }
    .Subscribe-Button:hover{
        opacity: 0.9;
    }
    .Subscribe-Button:active{
        opacity: 0.5;
    }
    .Join-Button{
    background-color: rgba(231, 226, 226, 0.762);
    color:  rgb(92, 141, 239);
    border: solid;
    padding-left: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 16px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    transition: background-color 1s;
    }
    .Join-Button:hover{
        background-color: rgba(40, 56, 234, 0.9);
        color: white;
    }
    .Join-Button{
        opacity: 0.7;
    }
    .Tweet-Button{
    background-color: rgba(25, 138, 214, 0.762);
    color:  rgb(239, 244, 246);
    border: solid;
    padding-left: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 16px;
    border-radius: 22px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: box-shadow 0.15s;
        color: 0.15s;
    
    }
    .Tweet-Button:hover{
        box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
    }